:root {
  --color-black: #141414;
  --color-white: #ffffff;

  --gray-100: #eeeeee;
  --gray-200: #dddddd;
  --gray-300: #818181;

  --bg-default: #f6f4ef;

  --color-primary: #99c08e;
  --color-primary-hover: #8fb783;

  --color-red: #c41013;
  --color-red-light: #ff5050;
  --color-red-bg: #ffa3a5;

  --color-green: #e1edde;
  --color-green-text: #578246;

  --color-yellow: #fff1cc;
  --color-yellow-text: #c18e1b;

  --color-blue: #e0f1f5;
  --color-blue-text: #418099;

  --color-pink: #fde0e9;
  --color-pink-text: #bc3c6a;

  --max-width-desktop: 1920px;
  --max-width-tablet: 696px;
  --max-width-mobile: 320px;

  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 20px;
}

html {
  font-size: 16px;
  font-family:
    'Pretendard',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Noto Sans KR',
    sans-serif;
}

body {
  min-width: 320px;
  background-color: var(--bg-default);
  color: var(--color-black);
  font-family: inherit;
  line-height: 1.5;
}

#root {
  min-height: 100vh;
}

button,
input,
textarea,
select {
  font-family: inherit;
}

input::placeholder,
textarea::placeholder {
  color: #b5b9c0;
}

@font-face {
  font-family: 'Doldam';
  src: url('../assets/fonts/EF_jejudoldam\(TTF\).ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
