.input-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.input-label {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  color: #414141;
}

.input-wrapper,
.input-wrapper-error {
  width: 648px;
  height: 48px;
  display: flex;
  align-items: center;
  padding: 14px 16px;
}

.input-wrapper-error {
  border-color: var(--color-red);
}

.input-field {
  width: 100%;
}

.input-field::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: var(--gray-300);
}

.visibility-icon {
  cursor: pointer;
}

.error-message {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: var(--color-red);
}

@media (max-width: 375px) {
  .input-wrapper,
  .input-wrapper-error {
    width: 312px;
  }
}
