.main-layout {
  min-height: 100vh;
  background-color: var(--bg-default);
}

.main-layout__content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0 80px;
}

/* tablet */
@media (max-width: 1023px) {
  .main-layout__content {
    max-width: 696px;
    padding: 0 0 48px;
  }
}

/* mobile */
@media (max-width: 767px) {
  .main-layout__content {
    max-width: 320px;
    padding: 0 0 32px;
  }
}
